<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
    <title><%=title%></title>

</head>
<body>

    <!-- <div class="container-fluid border border-danger" id="myBody"> -->
        <!-- nav starts here -->
        <header class="container-fluid fixed-top" id="myNav">
            <nav class="navbar navbar-dark navbar-expand-lg container" id="myNavList">
                <a class="navbar-brand" href="/">HOME</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <%for(i=0;i<nav.length;i++) {%>
                        <% if(i===4) {break;} %>
                        <% if(token == "Admin") { %>
                        <a class="nav-item nav-link" href="<%=nav[i].link%>"><%=nav[i].name%></a>
                        <% } else { %>
                        <a class="nav-item nav-link " <%=nav[i].hide%> href="<%=nav[i].link%>"><%=nav[i].name%></a>
                        <% } %>
                    <%}%>
                </div>
                <%if(token == "Admin") {%>
                <div class="navbar-nav"><a class="nav-item nav-link"><%=user%></a></div>
                </div>
                <%}%>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav ">
                        <%for(i=0;i<nav.length;i++) {%>
                            <%if(i<4) {continue;}%>
                            <a class="nav-item nav-link" href="<%=nav[i].link%>"><%=nav[i].name%></a>
                        <%}%>
                    </div>
                </div>
            </nav>
        </header>

        <!-- jumbotron starts here -->
        <div class="jumbotron jumbotron-fluid" id="myJumbo">
            <div class="container" id="myJumboContainer">
                <h1 class="display-2 text-white">Authors</h1>
                <!-- <div class="container rounded" id="emptyBox"></div> -->
            </div>
        </div>


        <!-- main content starts here -->
        <div class="container" id="contentBody">
            <div class="card" id="myCard">
                <%for(i=0;i<newauthors.length;i++) {%>
                    <div class="row no-gutters myCardItems">
                        <div class="col-md-2">
                            <img src="<%=newauthors[i].image%>" class="card-img img-thumbnail rounded-circle" style="height:75px;width:75px"  alt="thumbnail1">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title text-muted"><%=newauthors[i].author%></h3>
                                <h5 class="card-text bg-secondary text-white px-2 rounded" style="width: fit-content;"><%=newauthors[i].title%></h5>
                                <p class="card-text text-muted"><%=newauthors[i].genre%> • <a href="/authors/<%=newauthors[i]._id%>" class="text-muted">Read More</a></p>
                            </div>
                        </div>
                        <!-- <div class="col-md-2 border">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="row-col-4">
                                        <a href="/authors/edit/<%=newauthors[i]._id%>" class="btn btn-outline-secondary">edit</a>
                                    </div>
                                    <div class="row-col-4">
                                        <a href="/authors/delete/<%=newauthors[i]._id%>" class="btn btn-outline-secondary">delete</a>
                                    </div>
                                  </div>
                            </div>
                        </div> -->
                    </div>
                    <hr>
                <%}%>

                <!-- <div class="container">
                    <button type="button" class="btn-sm btn-primary float-right" data-toggle="collapse" data-target="#moreContent" aria-expanded="false" aria-controls="moreContent">More</button>
                </div> -->
            </div><!-- card -->
        </div>
        <br>
        <br>

        <!-- social -->
        <div class="container mb-3" id="social">
            <h3 class="text-muted" style="font-family: 'Oswald', sans-serif;font-weight: 400;">Follow Us</h3>
            <div class="row px-3">
                <a class="btn text-white" href="https://www.twitter.com" style="background-color: #00acee;">Twitter</a>
                <a class="btn text-white" href="https://www.facebook.com" style="background-color: #3b5998;">Facebook</a>
                <a class="btn text-white" href="https://www.google.com" style="background-color: #db4a39;">Google+</a>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
